@page "/Pacientes"
@rendermode InteractiveServer
@inject NavigationManager _navigationManager
@inject IControlPacientes _controlPacientes;

<PageTitle>Pacientes</PageTitle>

<style>
    .header {
    display: flex;
    align-items: center;
    gap: 10px;
    }

    .logo {
    width: 80px;
    height: 80px;
    }
</style>


<div class="header">
    <img src="logo/logo.png" alt="ControlLab Logo" class="logo" />
    <h1 style="font-style: italic;">Pacientes</h1>
</div>

<br />

<a class="btn btn-primary" href="pacientes/nuevo">Nuevo Paciente</a>

@if (_pacientes == null)
{
    <p><em>Cargando...</em></p>
}
else if (_pacientes.Count() == 0)
{
    <h3>No hay pacientes registrados.</h3>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th><strong>Fecha</strong></th>
                <th><strong>Nombre</strong></th>
                <th><strong>Edad</strong></th>
                <th><strong>Sexo</strong></th>
                <th><strong>Teléfono</strong></th>
                <th><strong>Correo</strong></th>
                <th><strong>Acciones</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Paciente paciente in _pacientes)
            {
                <tr>
                    <td>@paciente.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@paciente.Nombre</td>
                    <td>@paciente.Edad</td>
                    <td>@paciente.Sexo</td>
                    <td>@paciente.Telefono</td>
                    <td>@paciente.Correo</td>
                    <td>
                        <button class="btn btn-danger" @onclick="()=>Eliminar(paciente)" title="Eliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </button>
                        <button class="btn btn-secondary" @onclick="()=>Editar(paciente)" title="Modificar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @mensajeError
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@code {
    private List<Paciente>? _pacientes;
    private string mensajeError;

    protected override async Task OnInitializedAsync()
    {
        _pacientes = await _controlPacientes.GetAll();
    }

    private async Task Eliminar(Paciente paciente)
    {
        if (!await _controlPacientes.SePuedeBorrar(paciente.Id))
        {
            // Mostrar un mensaje de error o advertencia al usuario
            mensajeError = "No se puede eliminar la clasificación porque está asociada a una o más personas.";
            return;
        }
        await _controlPacientes.Delete(paciente.Id);
        _pacientes = await _controlPacientes.GetAll();
        mensajeError = null;
    }

    private void Editar(Paciente paciente)
    {
        _navigationManager.NavigateTo($"/pacientes/editar/{paciente.Id}");
    }
}
